
body {
  background: linear-gradient(135deg, #c7d2fe, #e0e7ff);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 40px;
}


.tool-btn {
  width: 60%;
  margin: 15px auto;
  padding: 20px;
  font-size: 20px;
  border-radius: 12px;
  background-color: #e4a7d3;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.tool-btn:hover {
  background-color: #f41e62;
}


.box {
  background: white;
  padding: 30px;
  margin: auto;
  max-width: 450px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

footer {
  margin-top: 40px;
  color: gray;
}
